GNEWS_API_KEY=your_gnews_api_key_here
GNEWS_QUERY=(election OR vote OR poll OR constituency) AND India
GNEWS_QUERY_TAMIL_NADU=(election OR vote OR poll OR constituency OR alliance OR counting) AND ("Tamil Nadu" OR Chennai OR DMK OR AIADMK OR TVK)
GNEWS_QUERY_KERALA=(election OR vote OR poll OR constituency OR alliance OR counting) AND ("Kerala" OR Thiruvananthapuram OR Kochi OR CPM OR UDF OR LDF)
GNEWS_QUERY_WEST_BENGAL=(election OR vote OR poll OR constituency OR alliance OR counting) AND ("West Bengal" OR Kolkata OR TMC OR BJP Bengal)
DEFAULT_REGION_ID=national
ELECTION_API_URL=https://raw.githubusercontent.com/thecont1/india-votes-data/main/results/2025Assembly-DL.json
ELECTION_API_URL_NATIONAL=https://raw.githubusercontent.com/thecont1/india-votes-data/main/results/2025Assembly-DL.json
ELECTION_API_URL_TAMIL_NADU=
ELECTION_API_URL_KERALA=
ELECTION_API_URL_WEST_BENGAL=
NEWS_FEED_HANDLES=ANI|ANI|Wire,ndtv|NDTV|National TV,TimesNow|Times Now|National TV,CNNnews18|CNN-News18|National TV,republic|Republic|National TV,DDNewslive|DD News|Public Broadcaster,IndiaToday|India Today|National TV,aajtak|Aaj Tak|Hindi National,ABPNews|ABP News|Hindi National,sunnewstamil|Sun News|Tamil Nadu,PttvNewsX|Puthiya Thalaimurai|Tamil Nadu,News18TamilNadu|News18 Tamil Nadu|Tamil Nadu,news7tamil|News7 Tamil|Tamil Nadu,ThanthiTV|Thanthi TV|Tamil Nadu,polimernews|Polimer News|Tamil Nadu
